<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1></h1>
     {{>header}}
    <p>help Needed</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Odit sequi nesciunt eligendi. Quasi maxime, repudiandae 
        laudantium hic minus quae eligendi ratione quas obcaecati,
         ex cupiditate qui id, accusamus asperiores inventore?
    </p>
   
</body>
</html>